
<suite name="Suite" thread-count="5" parallel="tests">
<listeners>  
<listener class-name="utilities.ExtentReportManager"/>>
</listeners>
<!--  Chrome Test  -->
<test name="chrometest">
<parameter name="os" value="Windows"/>
<parameter name="browser" value="chrome"/>
<classes>
<class name="testCases.TC_001_AccountRegistrationTest"/>
<class name="testCases.TC_002_LoginTest"/>
</classes>
</test>
<!--  Edge Test  -->
<test name="edgetest">
<parameter name="os" value="Windows"/>
<parameter name="browser" value="edge"/>
<classes>
<class name="testCases.TC_001_AccountRegistrationTest"/>
<class name="testCases.TC_002_LoginTest"/>
</classes>
</test>
<!--  Firefox Test  -->
<test name="firefoxtest">
<parameter name="os" value="Windows"/>
<parameter name="browser" value="firefox"/>
<classes>
<class name="testCases.TC_001_AccountRegistrationTest"/>
<class name="testCases.TC_002_LoginTest"/>

</classes>
</test>
</suite>